body {
    padding-top: 54px;
}
@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}body {
     background-color: #ebebeb;
 }
.iconcontainer {
    margin-top: 20px;
    margin-bottom: 20px;
}
.iconbox {
    background: #ffffff;
    background-color: #ffffff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    padding: 20px 25px;
    text-align: right;
    display: block;
    margin-top: 60px;
    margin-bottom: 15px;
}
.iconbox-icon {
    background-color: #008EED;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    margin-top: -70px;
}
.iconbox-icon span {
    color: #fff;
    font-size: 42px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 29px;
    text-align: center;
    vertical-align: middle;
}
.featureinfo h4 {
    font-size: 26px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.featureinfo > p {
    color: #000000;
    font-size: 16px;
    padding-top: 4px;
    text-align: left;
}
